{% extends "posts_div.html" %}

{% block title %} {{username}} Profile {% endblock %}

{% block header %}
    {{username}} 
{% endblock %}

{% block footer %} 
    {% if user.username == username %}
    <div align="center">
        <a href="/create-post"><button type="button" class="btn btn-primary btn-lg">Create Post</button></a>
    </div>
    <br>
    {% endif %}
    <div align="center">
        <a href="/home"><button type="button" class="btn btn-secondary btn-lg">Back</button></a>
    </div>
{% endblock %}
